{% extends "layouts/index.html" %}

{% block content %}

{% for basica in basicas %}

<div class="card">
  <div class="card-body">
    <div class="info-item">
      <span class="info-label">Documento:</span>
      <span class="info-value">{{ basica.documento }}</span>
    </div>

    <div class="info-item">
      <span class="info-label">Número de documento:</span>
      <span class="info-value">{{ basica.num_documento }}</span>
    </div>

    <div class="info-item">
      <span class="info-label">Nombres:</span>
      <span class="info-value">{{ basica.nombres }}</span>
    </div>

    <div class="info-item">
      <span class="info-label">Apellidos:</span>
      <span class="info-value">{{ basica.apellidos }}</span>
    </div>

    <div class="info-item">
      <span class="info-label">Teléfono:</span>
      <span class="info-value">{{ basica.telefono }}</span>
    </div>

    <div class="info-actions">
      <button class="edit-button" onclick="window.location='{% url 'update_basica' basica.pk %}'">Editar</button>
      <button class="delete-button" onclick="window.location='{% url 'delete_basica' basica.pk %}'">Eliminar</button>
    </div>
  </div>
</div>


{% endfor %}

{% endblock %}